<!DOCTYPE html>
<html class="{{htmlclass}}">
  <head>
    {{#block "head"}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{#if title}}
        <title>{{title}} - {{data "project.title"}}</title>
      {{else if name}}
        <title>{{name}} - {{data "project.title"}}</title>
      {{else}}
        <title>{{data "project.title"}}</title>
      {{/if}}
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/drizzle/styles/drizzle.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/drizzle/styles/documentation.css">
      <link rel="stylesheet" href="https://storage.googleapis.com/ts_assets_prod-classic_assets/app-team-f3ed8e6be00e4899ee556b311fd164cc.css">
      <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/teamsnap-ui.css" title="teamsnap-ui" class="cssTheme">
      {{#each (data "themes")}}
        <link rel="alternate stylesheet" title="{{theme}}" href="{{@root.baseurl}}/assets/toolkit/styles/{{theme}}.css" class="cssTheme">
      {{/each}}
      {{#each styles}}
        <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/{{this}}.css">
      {{/each}}
    {{/block}}
  </head>
  <body class="{{bodyclass}}">
    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}
    {{#block "foot"}}
      <script src="{{@root.baseurl}}/assets/drizzle/scripts/drizzle.js"></script>
      <script src="{{@root.baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
      {{#each scripts}}
        <script src="{{@root.baseurl}}/assets/toolkit/scripts/{{this}}.js"></script>
      {{/each}}
    {{/block}}
  </body>
</html>
