---
hidden: true
---
<div class="Calendar {{class}}">
  <div class="Calendar-heading">
    <div class="Calendar-navigation">
      <a href="#" class="Calendar-navigateBack">
        <span class="u-hiddenVisually">Previous Month</span>
        {{svg "left" class="Icon" role="presentation"}}
      </a>
      <p class="Calendar-month">March 2018</p>
      <a href="#" class="Calendar-navigateForward">
        <span class="u-hiddenVisually">Next Month</span>
        {{svg "right" class="Icon" role="presentation"}}
      </a>
    </div>
    {{#if today}}
    <div class="Calendar-headingRight">
      <button class="Button">Today</button>
    </div>
    {{/if}}
  </div>
  <div class="Calendar-row Calendar-row--columnHeading">
    {{#each (data "calendar.weekdays")}}
      <div class="Calendar-cell">
        {{#if ../abbreviate}}
          {{abbr}}
        {{else}}
          {{name}}
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#iterate 5}}
    <div class="Calendar-row">
      {{#each (data "calendar.weekdays")}}
        {{setVar "date" (math order "+" (math (math @count "-" 1) "*" 7))}}
        <div class="Calendar-cell {{#compare date "==" ../../currentDate}} Calendar-cell--current{{/compare}}">
          <div>
            <p class="Calendar-date {{#compare date "==" 17}}Calendar-date--hasGame Calendar-date--hasEvent{{/compare}} {{#compare date "==" 23}}Calendar-date--hasEvent{{/compare}}">
              {{#compare date "<" 32}}
                {{date}}
              {{/compare}}
            </p>
            <p class="Calendar-day">
              {{name}}
            </p>
          </div>
          {{#and (compare date "<" 32) ../../content}}
            <ul>
              {{#maybe}}
                <li class="Calendar-listItem">
                  <a href="#game-or-event">
                    Practice, 8AM
                  </a>
                </li>
              {{/maybe}}
              {{#maybe}}
                <li class="Calendar-listItem">
                  <a href="#game-or-event">
                    vs Broncos, 4PM
                  </a>
                </li>
              {{/maybe}}
              {{#maybe}}
                <li class="Calendar-listItem">
                  <a href="#game-or-event">
                    vs Tornadoes, 7PM
                  </a>
                </li>
              {{/maybe}}
            </ul>
          {{/and}}
        </div>
      {{/each}}
    </div>
  {{/iterate}}
</div>
