<div class="u-spaceTopXl">
  <h1 class="u-spaceBottomLg">Availability Table</h1>
  <div class="Panel">
    <div class="Panel-body">
      <div class="Panel-row Panel-row--withCells u-flexAlignItemsCenter">
        <div class="Panel-cell">
          <a href="">Player Name</a>
        </div>
          <div class="Panel-cell u-textCenter">
          <div class="Popup">
            <button class="Button Button--smallSquare Popup-toggle js-popupToggle">
            </button>
            <div class="Popup-container js-popupContainer">
              <div class="Popup-content u-padSm">
                <div class="ButtonGroup js-ButtonGroupDemo" >
                  <button class="Button u-padSidesXs  Button--yes u-size1of3">
                    Going
                  </button>
                  <button class="Button u-padSidesXs  Button--maybe u-size1of3">
                    Maybe
                  </button>
                  <button class="Button u-padSidesXs  Button--no u-size1of3">
                    No
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{#iterate 2}}
          <div class="Panel-cell u-textCenter">
          <div class="Popup">
            <button class="Button Button--smallSquare Button--yes Popup-toggle js-popupToggle">
              {{#compare @count "==" 2}}
                {{svg "loader" class="Icon Icon--loader" role="presentation"}}
              {{else}}
                {{svg "check" class="Icon" role="presentation"}}
              {{/compare}}
            </button>
            <div class="Popup-container js-popupContainer" style="width: 300px">
              <div class="Popup-content u-padSm u-flex u-flexAlignItemsCenter">
                <div class="ButtonGroup js-ButtonGroupDemo u-sizeFill">
                  <button class="Button u-padSidesXs  Button--yes  u-size1of4">
                    Going
                  </button>
                  <button class="Button u-padSidesXs  Button--maybe u-size1of4">
                    Maybe
                  </button>
                  <button class="Button u-padSidesXs  Button--no u-size1of4">
                    No
                  </button>
                  <button class="Button u-padSidesXs u-size1of4">
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/iterate}}
        {{#iterate 2}}
          <div class="Panel-cell u-textCenter">
          <div class="Popup">
            <button class="Button Button--smallSquare Button--maybe Popup-toggle js-popupToggle">
              {{#compare @count "==" 2}}
                {{svg "loader" class="Icon Icon--loader" role="presentation"}}
              {{else}}
                <span class="u-textBold">?</span>
              {{/compare}}
            </button>
            <div class="Popup-container js-popupContainer">
              <div class="Popup-content u-padSm">
                <div class="ButtonGroup js-ButtonGroupDemo" >
                  <button class="Button u-padSidesXs  Button--yes u-size1of3">
                    Going
                  </button>
                  <button class="Button u-padSidesXs   Button--maybe  u-size1of3">
                    Maybe
                  </button>
                  <button class="Button u-padSidesXs   Button--no u-size1of3">
                    No
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/iterate}}
        <div class="Panel-cell u-textCenter">
          <div class="Popup">
            <button class="Button Button--smallSquare Button--no Popup-toggle js-popupToggle">
              {{svg "dismiss" class="Icon" role="presentation"}}
            </button>
            <div class="Popup-container js-popupContainer">
              <div class="Popup-content u-padSm">
                <div class="ButtonGroup js-ButtonGroupDemo" >
                  <button class="Button u-padSidesXs  Button--yes u-size1of3">
                    Going
                  </button>
                  <button class="Button u-padSidesXs   Button--maybe u-size1of3">
                    Maybe
                  </button>
                  <button class="Button u-padSidesXs   Button--no  u-size1of3">
                    No
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Panel-cell u-textCenter">
          <div class="Popup">
            <button class="Button Button--smallSquare Button--no Popup-toggle js-popupToggle">
              {{svg "loader" class="Icon Icon--loader" role="presentation"}}
            </button>
            <div class="Popup-container Popup-container--rightHang js-popupContainer">
              <div class="Popup-content u-padSm">
                <div class="ButtonGroup js-ButtonGroupDemo" >
                  <button class="Button u-padSidesXs  Button--yes u-size1of3">
                    Going
                  </button>
                  <button class="Button u-padSidesXs   Button--maybe u-size1of3">
                    Maybe
                  </button>
                  <button class="Button u-padSidesXs   Button--no  u-size1of3">
                    No
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
