---
title: Club Directory Member View
notes: This a demo of the club directory member view (DMV).
layout: demo
---

<div class="main-container">

  <h2 class="u-colorGrey"><a href="#">Members</a> / Bart Simpson</h2>

  <div class="Grid Grid--withGutter u-padTopXl">
    <div class="Grid-cell u-size5of24">

      <div class="Panel">
        <div class="Panel-image">
          <img src="http://williamdingwall.com/simpsons/bart-@1.5x.jpg" />
        </div>
        <div class="Panel-body u-padMd">
          <h3 class="u-padBottomSm">Bart Simpson</h3>
          <div class="u-padBottomSm">Birthday: 01/01/2017</div>
          <div class="u-padBottomSm">Male</div>
        </div>
      </div>

    </div>
    <div class="Grid-cell u-size19of24">
      <div class="Panel">

        <div class="Panel-header">
          <h3 class="Panel-title">
            Current Teams and Registrations
          </h3>
        </div>

        <div class="Panel-body">

          <div class="Panel-row Panel-row--withCells Panel-row--header Grid Grid--withGutters">
            {{#each (data "member-view.column_headers")}}
              <div class="Panel-cell Grid-cell {{this.class}}">
                <h4 class="Panel-title">{{this.name}}</h4>
              </div>
            {{/each}}
          </div>

          {{#each (data "member-view.barts_teams_registrations")}}
            <div class="Panel-row Panel-row--withCells Grid Grid--withGutters">
              <div class="Panel-cell Grid-cell u-sizeFill">
                {{this.team}}
                <small class="u-block u-padTopXs">{{this.team_division}}</small>
                {{#if this.invite}}
                  <button class="Button Button--small Button--primary u-spaceTopXs">Invite to Join</button>
                {{/if}}
              </div>
              <div class="Panel-cell Grid-cell u-size4of24 u-flexGrow0">
                {{this.role}}
              </div>     
              <div class="Panel-cell Grid-cell u-sizeFill">
                {{this.registration}}
                <small class="u-block u-padTopXs">{{this.registration_fee_option}}</small>
              </div>
              <div class="Panel-cell Grid-cell u-size6of24 u-flexGrow0">
                {{this.registration_status}}
              </div>
              <div class="Panel-cell Grid-cell u-size2of24 u-flexGrow0">
                <div class="Popup Popup--hover">
                  <button class="Button Button--small" data-control="popup" data-open="popup-one">...</button>
                  <div class="Popup-container Popup-container--down" data-popup="popup-one" style="width: 200px">
                    <div class="Popup-content">
                      <div class="u-textBold">
                        <a href="">
                          <p class="u-padEndsSm u-padSidesMd">Action 1</p>
                        </a>
                        <hr class="Divider u-spaceEndsNone">
                        <a href="">
                          <p class="u-padEndsSm u-padSidesMd">
                            Action 2
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}

      </div>
    </div>
  </div>

</div>
