---
order: 4
notes: |
  Complex table with filter controls in the header composed of other patterns.

  Add modifier `Panel-row--withCells` to each `Panel-row` to create rows of side-by-side cells.

  By default cells will all be equal width. Use different `flex` or `size` properties to customize cell width.

  Use modifier `Panel--striped` to add zebra striping.
---

<div class="Grid u-flexAlignItemsEnd">
  <div class="Grid-cell u-size1of2">
    <div class="FieldGroup">
      <p class="FieldGroup-label">
        Advanced Search
      </p>
      <div class="Grid Grid--withGutter">
        <div class="Grid-cell u-size1of2">
          <div class="SelectBox">
            <label class="u-hiddenVisually">Select search paramenter</label>
            <select class="SelectBox-options">
              <option disabled selected>Select search parameter</option>
              <option value="">Status</option>
              <option value="">Batch title</option>
            </select>
          </div>
        </div>
        <div class="Grid-cell u-size1of2">
          <label class="u-hiddenVisually">Enter search terms</label>
          <input class="Input" placeholder='Search terms e.g. "open"'>
        </div>
      </div>
    </div>
  </div>
  <div class="Grid-cell u-size1of2">
    <div class="u-flex u-flexAlignItemsCenter u-flexJustifyEnd u-spaceBottomMd">
      <p class="u-spaceRightMd">1-46 of 46</p>
      <div class="ButtonGroup">
        <button disabled class="Button">
          Prev
        </button>
        {{#iterate 4}}
          <button class="Button {{#compare @count "==" 1}}is-active{{/compare}}">
            {{@count}}
          </button>
        {{/iterate}}
        <button class="Button">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
<div class="Panel Panel--striped">
  <div class="Panel-body">
    <div class="Panel-row Panel-row--withCells">
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">ID</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block u-colorHighlight" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Status</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Date</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Type</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex u-flexJustifyEnd u-spaceNegativeRightSm" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Total</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex u-flexJustifyEnd u-spaceNegativeRightSm" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Payments</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex u-flexJustifyEnd u-spaceNegativeRightSm" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Adjustments</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell">
        <h4 class="Panel-title">
          <a class="u-flex u-flexJustifyEnd u-spaceNegativeRightSm" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Balance</span>
            <div class="u-colorGrey u-fontSizeXs u-spaceLeftXs">
              {{svg "up" class="Icon u-block" role="presentation"}}
              {{svg "down" class="Icon u-block" role="presentation"}}
            </div>
          </a>
        </h4>
      </div>
      <div class="Panel-cell u-borderLeft u-spaceLeftSm">
        <h4 class="Panel-title">
          <a class="u-flex u-flexJustifyCenter" href="sortColumn">
            <span class="u-colorInfo u-textNoWrap">Admin</span>
          </a>
        </h4>
      </div>
    </div>
    {{#each (data "invoicing.payments")}}
      <div class="Panel-row Panel-row--withCells">
        <div class="Panel-cell">
          {{this.id}}
        </div>
        <div class="Panel-cell">
          {{this.status}}
        </div>
        <div class="Panel-cell">
          {{random "date" string=true}}
        </div>
        <div class="Panel-cell">
          {{this.type}}
        </div>
        <div class="Panel-cell u-textRight">
          ${{toFixed this.net}}
        </div>
        <div class="Panel-cell u-textRight">
          {{random "dollar" max=1000}}
        </div>
        <div class="Panel-cell u-textRight">
          {{random "dollar" max=1000}}
        </div>
        <div class="Panel-cell u-textRight">
          {{#compare this.type "===" "offline" }}
            ${{toFixed this.net}}
          {{else}}
            ${{toFixed (math this.net "*" 1.0299 "+" 0.99)}}
          {{/compare}}
        </div>
        <div class="Panel-cell u-borderLeft u-textCenter u-spaceLeftSm">
          <button class="Button Button--small Button--negative">
              Refund
          </button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
