---
notes: |
  For Nested Lists

order: 1
---

<div class="TreeMenu">
  <ul>
    <li class="TreeMenu-branch collapsed">First Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
       <ul>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="TreeMenu-branch collapsed">First Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
       <ul>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">Second Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
          <ul>
            <li>Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">Third Level {{svg "right" class="Icon TreeMenu-arrow" role="presentation"}}
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

