---
notes: |
  For Nested Lists

order: 1
---

<div class="TreeMenu">
  <ul>
    <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} First Level
       <ul>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
      </ul>
    </li>
    <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} First Level
       <ul>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
      </ul>
    </li>
    <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} First Level
       <ul>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
        <li class="TreeMenu-leaf">Second Level</li>
      </ul>
    </li>
        <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} First Level
       <ul>
        <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Second Level
          <ul>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
            <li class="TreeMenu-leaf">Third Level</li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Second Level
          <ul>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Second Level
          <ul>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
            <li class="TreeMenu-branch collapsed">{{svg "right" class="Icon TreeMenu-arrow" role="presentation"}} Third Level
              <ul>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
                <li class="TreeMenu-leaf">Fourth Level</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

