---
notes: |
  Miller Column Style Structure

order: 2
---

<div class="MillerMenu">
  <div class="MillerMenu-breadcrumb"><a href="#">{{svg "home" class="Icon MillerMenu-home" role="presentation"}}</a> / </div>
  <!-- home level panels -->

  <div class="MillerMenu-level active-level">
    <ul>
      <li class="MillerMenu-branch has-child"><a href="#FirstLevelLorem">First Level Lorem {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
      <li class="MillerMenu-branch has-child"><a href="#FirstLevelIpsum">First Level Ipsum {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
      <li class="MillerMenu-branch has-child"><a href="#FirstLevelDolor">First Level Dolor {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
    </ul>
  </div>

  <!-- first level panels -->
  <div class="MillerMenu-level" id="FirstLevelLorem">
    <ul>
      <li class="MillerMenu-branch has-child"><a href="#SecondLevelSit">Second Level Sit {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
      <li class="MillerMenu-branch has-child"><a href="#SecondLevelAmet">Second Level Amet {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
    </ul>
  </div>
  <div class="MillerMenu-level" id="FirstLevelIpsum">
    <ul>
      <li class="MillerMenu-branch has-child"><a href="#SecondLevelAdipiscing">Second Level Adipiscing {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
      <li class="MillerMenu-branch has-child"><a href="#SecondLevelElit">Second Level Elit {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
    </ul>
  </div>
  <div class="MillerMenu-level" id="FirstLevelDolor">
    <ul>
      <li class="MillerMenu-branch has-child"><a href="#SecondLevelDo">Second Level Do {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
      <li class="MillerMenu-branch has-child"><a href="#SecondLevelEiusmod">Second Level Eiusmod {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}</a></li>
    </ul>
  </div>

  <!-- second level panels -->
  <div class="MillerMenu-level" id="SecondLevelSit">
    <ul>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="MillerMenu-level" id="SecondLevelAmet">
    <ul>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="MillerMenu-level" id="SecondLevelAdipiscing">
    <ul>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="MillerMenu-level" id="SecondLevelElit">
    <ul>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="MillerMenu-level" id="SecondLevelDo">
    <ul>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="MillerMenu-level" id="SecondLevelEiusmod">
    <ul>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
      <li class="MillerMenu-branch collapsed">Third Level {{svg "right" class="Icon MillerMenu-arrow" role="presentation"}}
        <ul>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
          <li class="MillerMenu-leaf">Fourth Level</li>
        </ul>
      </li>
    </ul>
  </div>


</div>

