---
title: Overview
layout: prose
order: 1
---

<h1>{{title}}</h1>

<p>
  This UI toolkit is a design system for building, using and documenting the new <a href="https://github.com/teamsnap/teamsnap-ui">teamsnap-ui</a> CSS components.  It includes tools for prototyping with the new styles, but also imports Classic CSS to mirror the production environment and allow for building prototypes with Classic styles when necessary.
</p>

<dl>

  {{#with (page "docs/index")}}
    <dt>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </dt>
    <dd class="drizzle-u-padBottom">
      {{{data.notes}}}
    </dd>
  {{/with}}

  {{#with (page "colors")}}
    <dt>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </dt>
    <dd class="drizzle-u-padBottom">
      {{{data.notes}}}
    </dd>
  {{/with}}

  {{#with (page "demos/index")}}
    <dt>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </dt>
    <dd class="drizzle-u-padBottom">
      {{{data.notes}}}
    </dd>
  {{/with}}
</dl>
