---
order: 1
notes: |
  Applies color property for changing text color or icon color. These colors are themed and will vary depending on the color theme (except for positive and negative).
sourceless: true
---
<div class="u-padSm">
  <p class="u-colorPrimary">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorPrimary
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorSecondary">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorSecondary
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorHighlight">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorHighlight
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorInfo">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorInfo
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorGrey">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorGrey
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorPositive">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorPositive
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorNegative">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorNegative
  </p>
</div>
<div class="u-padSm u-bgPrimary">
  <p class="u-colorForeground">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorForeground on u-bgPrimary
  </p>
</div>
<div class="u-padSm u-bgSecondary">
  <p class="u-colorForeground">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorForeground on u-bgSecondary
  </p>
</div>
<div class="u-padSm u-bgHighlight">
  <p class="u-colorForeground">
    {{svg "check" class="Icon" role="presentation"}}
    u-colorForeground on u-bgHighlight
  </p>
</div>
