---
order: 1
notes: |
  Applies `color` property for changing text color or icon color. These colors are themed and will vary depending on the color theme (except for positive and negative).
---
<div class="u-padSm">
  <p class="u-colorPrimary">
    {{svg "check" class="Icon" role="presentation"}}
    Color Primary
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorSecondary">
    {{svg "check" class="Icon" role="presentation"}}
    Color Secondary
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorInfo">
    {{svg "check" class="Icon" role="presentation"}}
    Color Info
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorPositive">
    {{svg "check" class="Icon" role="presentation"}}
    Color Positive
  </p>
</div>
<div class="u-padSm">
  <p class="u-colorNegative">
    {{svg "check" class="Icon" role="presentation"}}
    Color Negative
  </p>
</div>
